/*  Base styles */
* {
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 0;
  box-sizing: border-box;
}

body {
  padding-top: 1em;
}

h1, p {
  text-align: center;  
}

h1 {
  margin-bottom: 1em;
  margin-top: 1em;
  line-height: 0;
}

p {
  margin-top: 1em;
}


/* Board styles */

.board {
  margin: 1em auto;
  width: 600px;
  height: 600px;
}

.board div {
  display: inline-block;
  width: 198px;
  height: 198px;
  border: 1px solid gray;
  float: left;
}

.board .blank {
  cursor: pointer;
}

.board .x,
.board .o {
  font-size: 80px;
  line-height: 80px;
  text-align: center;
  vertical-align: middle;
  float: left;
  padding: 50px 0 0 0;
}

.board .x::before {
  content: 'X';
}

.board .o::before {
  content: 'O';
}